{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "bracketSameLine": true
}
